<button class="user-account" (click)="goToProfile()">
  <!-- Avatar -->
  @if (user()?.picture) {
    <img [src]="user()!.picture" alt="Avatar" class="avatar-img" referrerpolicy="no-referrer" />
  } @else {
    <div class="avatar">
      {{ initials() }}
    </div>
  }

  <!-- User Info -->
  <div class="user-info">
    <span class="name">{{ user()?.name }}</span>
    <span class="email">{{ user()?.email }}</span>
  </div>

  <!-- Arrow -->
  <svg class="arrow" viewBox="0 0 20 20" fill="currentColor">
    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
  </svg>
</button>
